body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left,
            rgb(3, 3, 3),
            rgb(46, 42, 59));
}

* {
    padding: 0;
    margin: 0;
}

.a {
    position: relative;
    width: 400px;
    height: 250px;
    top: 150px;
}

.b {
    position: absolute;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, .6),
            rgba(255, 255, 255, .3),
            rgba(255, 255, 255, .2));

    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .8);
}

.b span {
    user-select: none;
    font: 900 50px '';
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgba(0, 0, 0, .5);
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .7);
}

.b nav {
    user-select: none;
    font: 900 25px '';
    position: absolute;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: 50%;
    color: rgba(255, 255, 255, .3);
    letter-spacing: 3px;
}

.b p {
    font: 900 25px '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgba(255, 255, 255, .3);
    letter-spacing: 3px;
}

.c {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    filter: blur(30px);
    background-color: rgba(240, 160, 0, 0.781);
    position: absolute;
    top: 140px;
    left: -40px;
    z-index: -99;
}

.d {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(30px);
    background-color: #67c0a79a;
    position: absolute;
    top: -50px;
    left: 260px;
    z-index: -99;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
}