    body {
        background-color: rgb(31, 29, 29);
        color: aliceblue;
    }
    
    button {
        border: 2px solid #85848493;
        color: aliceblue;
        padding: 8px;
        margin-right: 10px;
        border-radius: 45%;
        border: 1px solid #eaeaea;
        display: block;
        margin: 50px auto 0 auto;
        background-color: #7c7b7b6e;
        /* 淡灰色背景 */
        box-shadow: 0 0 5px 2px rgba(221, 221, 154, 0.233);
        /* 淡黄色光晕 */
    }
    
    button:active {
        border: 2px solid #18171793;
        color: rgb(166, 175, 184);
        padding: 5px;
        margin-right: 10px;
        border-radius: 45%;
        border: 1px solid #474545;
        display: block;
        margin: 50px auto 0 auto;
        background-color: #7c7b7b6e;
        /* 淡灰色背景 */
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.233);
        /* 淡黄色光晕 */
    }
    
    input[type="text"] {
        border: 2px solid #85848493;
        padding: 8px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        width: 50%;
        display: block;
        margin: 50px auto 0 auto;
        background-color: #7c7b7b6e;
        /* 淡灰色背景 */
        box-shadow: 0 0 5px 2px rgba(221, 221, 154, 0.233);
        /* 淡黄色光晕 */
    }
    
    input[type="text"]:focus {
        outline: none;
        box-shadow: 0 0 7px 2px rgba(196, 116, 212, 0.8);
    }
    
    input[type="text"]::placeholder {
        user-select: none;
        color: #fcfcfc62;
    }
    
    input[type="text"]:focus::placeholder {
        user-select: none;
        color: #56776c80;
    }
    
    input[type="text"] {
        color: rgb(255, 255, 255);
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .loading {
        border: 8px solid #c3bfbfe2;
        /* Light grey */
        border-top: 8px solid #3584b8ce;
        /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        display: none;
        /* 預設隱藏 */
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        /* 將div置中 */
        margin-top: -20px;
        /* 將div置中 */
    }
    
    .sw {
        margin-top: 10%;
        text-align: center;
    }
    
    .note {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: beige;
    }
    
    #result {
        font-size: 30px;
        /* 調整文字大小 */
        color: #ffffff;
        /* 調整文字顏色 */
    }
    
    #birthYear {
        color: rgb(213, 110, 110);
        text-shadow: rgb(57, 22, 22);
    }
    
    #constellation {
        color: rgb(122, 184, 122);
        /* 調整constellation文字顏色 */
        text-shadow: rgb(63, 96, 37);
    }