.pagelink a:hover {
    background-color: rgba(0, 0, 0, 0.788);
    color: rgba(250, 250, 250, 0.589) !important;
    font-weight: 800;
    transition: background-color 0.2s 0s, color 0.2s 0s;
}

.content {
    min-height: 200vh;
    /* 使內容足夠長以允許滾動 */
    padding: 20px;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('bg.jpg') no-repeat center center/cover;
    z-index: -2;
    filter: brightness(80%);
    /* 調整飽和度，使圖片不那麼鮮豔 */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.103);
    /* 半透明的白色覆蓋層，0.5 是透明度值 */
    z-index: -1;
    /* 使覆蓋層位於背景圖片之上，但在內容之下 */
}

body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: #42464b4f;
    color: #c7c2c2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background-color: #c0c1c2;
    color: #000000;
}


/* 導覽列 */

@font-face {
    font-family: "nv";
    src: url(./NotoSansTC-VariableFont_wght.ttf);
}

nav {
    font-family: "nv";
    position: absolute;
    left: 0.5%;
    right: 0.5%;
    top: 1%;
    white-space: nowrap;
    user-select: none;
    background-color: #312f2f17;
    padding: 10px;
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.103);
    border-radius: 10px;
}


/* 目前所在頁面文字大小,粗細 */

nav span {
    font: normal 18px;
    font-weight: bolder;
}


/* 其餘連結樣式 */

nav a {
    font: normal 15px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}



/* 處理滾動條 */

body::-webkit-scrollbar {
    width: 0px;
}

header {
    right: 0.1%;
    left: 0.1%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bew-elevated-10);
    box-shadow: 0 2px 4px #4744441a;
}


h1 {
    cursor: pointer;
    user-select: none;
    margin: 50px 0px 0px 0px;
    font-size: 24px;
    color: #c0c1c2;
}

h1:hover {
    cursor: pointer;
    user-select: none;
    margin: 50px 0px 0px 0px;
    font-size: 24.1px;
}

h1:active {
    cursor: wait;
    user-select: none;
    margin: 50px 0px 0px 0px;
    font-size: 23px;
}

input[type="text"] {
    border-width: 1px;
    border-color: var(--bew-border-color);
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    backdrop-filter: var(--bew-filter-glass-1);
    width: 50%;
    display: block;
    margin: 50px auto 0 auto;
    background-color: #c0c1c21a;
    box-shadow: var(--bew-shadow-edge-glow-1), var(--bew-shadow-2);
}


input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 7px 2px rgba(184, 136, 194, 0.425);
}

input[type="text"]::placeholder {
    user-select: none;
    color: #ffffffa8;

}

input[type="text"]:focus::placeholder {
    user-select: none;
    color: #31313180;

}


input[type="text"] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    /* 白色半透明光暈 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}



#videoURL {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    user-select: none;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #111111;
    cursor: pointer;
    margin: 50px 0px 0px 0px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

button:active {
    background-color: rgba(160, 159, 159, 0.808);
    padding: 7px 12px;
}

main {
    padding: 20px;
    position: relative;
}

#playerWrapper {
    position: absolute;
    border-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 995;
    /* 讓元素佔滿整個寬度 */
}

.bChange {
    opacity: 60%;
    position: fixed;
    z-index: 999;
}

.border-container {
    pointer-events: none;
    position: absolute;
    border-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 560px;
    height: 315px;
    border: 5px solid #000;
    box-shadow: 3px 3px 5px black, 3px -3px 5px black, -3px 3px 5px black, -3px -3px 5px black;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 998;
}

#player {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
    max-width: 100%;
}

#player.show {
    opacity: 1;
}

#searchInput {
    position: relative;
    top: 350px;
}

#songTable {
    position: relative;
    top: 380px;
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

#songTable th,
#songTable td {
    border: 1px solid #0a0a0a;
    padding: 8px;
    text-align: center;
    background: rgba(0, 0, 0, 0.171);

}

#songTable th {
    user-select: none;
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(255, 255, 255);
}

#songTable tbody tr:hover {
    background-color: #ffffff;
    transition: background-color 0.8s ease;
}

#songTable a {
    user-select: text;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    /* 加上黑色光暈 */
}

#songTable tbody tr:hover a {
    color: #0a0a0a;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.144);
}

#songTable button {
    user-select: none;
    margin: 15px 5px;
    /* 水平置中 */
    text-align: center;
    /* 文字內容置中 */
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.493);
    color: #0f0f0f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#songTable button:hover {
    user-select: none;
    background-color: rgba(49, 49, 49, 0.4);
    color: #dddada;
}






/* 播放模式 */
#playbackMode {
    z-index: 1000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    transition: background-color 0.3s ease;
}

#playbackMode option {
    background-color: rgba(255, 255, 255, 0.3);
    color: #242424af;
    transition: background-color 0.3s ease;
}


#playbackMode:hover,
#playbackMode:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    transition: background-color 0.3s ease;
}