body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}


/* 導覽列 */

@font-face {
    font-family: "nv";
    src: url(./NotoSansTC-VariableFont_wght.ttf);
}

nav {
    font-family: "nv";
    motion: 3px;
    position: absolute;
    width: 100%;
    marjin-left: 1%;
    marjin-right: 1%;
    top: 1%;
    white-space: nowrap;
    user-select: none;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* 目前所在頁面文字大小,粗細 */

nav span {
    font: normal 18px;
    font-weight: bolder;
}


/* 其餘連結樣式 */

nav a {
    font: normal 15px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

#grcode {
    position: absolute;
    width: 3cm;
    height: auto;
    margin-left: 90%;
    opacity: 65%;
}


/* 處理滾動條 */

body::-webkit-scrollbar {
    width: 0px;
}

header {
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
}

h1 {
    user-select: none;
    margin: 50px 0px 0px 0px;
    font-size: 24px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 50%;
    display: block;
    margin: 50px auto 0 auto;
}

#videoURL {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    user-select: none;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    margin: 50px 0px 0px 0px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d32f2f;
}

main {
    padding: 20px;
    position: relative;
}

#playerWrapper {
    position: absolute;
    border-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 995;
    /* 讓元素佔滿整個寬度 */
}

.bChange {
    opacity: 40%;
    position: fixed;
    z-index: 999;
}

.border-container {
    pointer-events: none;
    position: absolute;
    border-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 560px;
    height: 315px;
    border: 5px solid #000;
    box-shadow: 3px 3px 5px black, 3px -3px 5px black, -3px 3px 5px black, -3px -3px 5px black;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 998;
}

#player {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: inline-block;
    max-width: 100%;
}

#player.show {
    opacity: 1;
}

#searchInput {
    position: relative;
    top: 350px;
}

#songTable {
    position: relative;
    top: 380px;
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

#songTable th,
#songTable td {
    border: 1px solid #0a0a0a;
    padding: 8px;
    text-align: center;
}

#songTable th {
    user-select: none;
    background-color: #f44336;
    color: rgb(255, 255, 255);
}

#songTable tbody tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.8s ease;
}

#songTable a {
    user-select: text;
    text-decoration: none;
    color: #fafafa;
}

#songTable tbody tr:hover a {
    color: #0a0a0a;
}

#songTable button {
    user-select: none;
    margin: 15px 5px;
    /* 水平置中 */
    text-align: center;
    /* 文字內容置中 */
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: #f44336;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#songTable button:hover {
    user-select: none;
    background-color: #d32f2f;
    color: #333;
}